[*]
trim_trailing_whitespace = true

[*.py]
indent_style = space
indent_size = 4
tab_width = 4
insert_final_newline = true

[*.sh]
indent_style = tab
indent_size = 2
tab_width = 2

[mkdocs.yml]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4
