div.col-md-9 h1
{
    font-family: monospace;
    font-size: 48px;
    text-align: center;
}

div.col-md-9 h2
{
    font-family: monospace;
    font-size: 36px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

div.col-md-9 h3
{
    font-family: monospace;
    font-size: 22px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}

footer.col-md-12
{
    font-family: monospace;
    font-weight: bold;
}
